nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  z-index: 90;
  margin-bottom: 200px;
  width: 100%;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: fixed;
  top: 0;
}

.logo {
  font-size: 2em;
  margin: 0;
}

.close__btn,
.open__btn {
  display: none;
  cursor: pointer;
}

.navigation__Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 250px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navigation__ul li a:hover > .expand__btn {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  color: #000;
  fill: #000;
}

.open__btn svg {
  width: 3rem;
  height: 3rem;
  fill: #4c4d5f;
}

.open__btn svg:hover {
  fill: #000;
}

@media screen and (max-width: 1150px) {
  .logo {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 950px) {
  nav {
    margin: 0 0 100px 0;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100dvw;
    position: relative;
    justify-content: space-between;
  }

  .open__btn {
    display: block;
  }

  .navigation__Container {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    inset: 0;
    background-color: #ffffff;
    padding: 25px;
    z-index: 100;
    transform: translateX(100vw);
    transition: translate 0.25 ease-in-out;
  }

  .sidemenu.show {
    display: flex; /* Show the menu */
    transform: translateX(0); /* Slide into view */
  }

  .close__btn {
    display: block;
    align-self: flex-end;
  }

  .close__btn svg {
    fill: #4c4d5f;
    width: 3rem;
    height: 3rem;
  }

  .close__btn svg:hover {
    fill: #000;
  }

  .navigation__ul {
    width: 100%;
    flex-direction: column;
  }

  .navigation__ul li {
    width: 100%;
  }

  .navigation__ul li a {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4c4d5f15;
  }

  .Btn__Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .Btn__Container button {
    width: 100%;
  }
}
